@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@font-face {
  font-family: Symbola;
  src: url(../fonts/Symbola.ttf);
}

@font-face {
  font-family: FreeSans;
  src: url(../fonts/FreeFont/FreeSans.ttf);
}

@font-face {
  font-family: FreeSans;
  src: url(../fonts/FreeFont/FreeSansBold.ttf);
  font-weight: bold;
}

/*
@font-face {
  font-family: FreeMono;
  src: url(../fonts/FreeFont/FreeMono.ttf);
}
*/

:root {
  --page-whalmost: #FDFCFB;
  --reg-blalmost: #212125;
  --accent-denine: #d9d9e3;
  --accent-aynine: #a9a9bf;
  --accent-winkle: #71719C;
  --accent-noncommittal-winkle: #F2F1F8;

  --tiny-shadow: 0 2px 2px -4px rgba(0.3, 0, 0.8, 0.2), 0 2px 2px 0 rgba(0.3, 0, 0.8, 0.14), 0 1px 5px 0 rgba(0.3, 0, 0.8, 0.12);
  --droppy-shadow: drop-shadow(2px 2px 1px rgba(0.3, 0, 0.8, 0.05));
}

body {
  font-family: Inter, sans-serif;

  color: var(--reg-blalmost);
  background-color: var(--page-whalmost);

  padding: 5vh 15vw;
  margin: 0;

  min-height: 100vh;

  display: flex;
  flex-direction: column;

  box-sizing: border-box;
}

.pb-head {
  font-family: Inter Tight, sans-serif;
}

body > .pb-content {
  flex: 1;
}

body > .pb-foot > div {
  display: flex;

  font-size: x-small;
  font-weight: 500;
  color: var(--accent-winkle);

  flex-direction: row;
  justify-content: space-between;

  text-wrap: balance;
}


a {
  color: inherit;
  text-decoration-line: none;
  border-radius: 0.4em;
  font-weight: 600;
  border: 1.25pt dotted var(--accent-aynine);

  background-image: linear-gradient(var(--page-whalmost) 50%, lightgoldenrodyellow);
  background-size: 100% 200%;
  background-position: 0 -1.25pt;

  transition: background-position 0.15s ease-out;

  display: inline-block;
  box-sizing: border-box;

  margin: -1.25pt 0;

  padding: 0 2pt;

  line-height: calc(1em + 2.5pt);
}

a[target="_blank"]:after {
  content: "\1F5D7";
  position: relative;

  left: 1pt;
  bottom: 0.5pt;

  line-height: 1em;
  font-size: larger;

  font-weight: normal;
  font-family: Symbola, sans-serif;
}

a:hover {
  background-position: 0 calc(100% + 1.25pt);
}


img {
  border-radius: 0.5em;
  box-shadow: var(--tiny-shadow);
}

.winkle {
  color: var(--accent-winkle);
}

.sym {
  font-family: FreeSans, sans-serif;
}

.uc-sym {
  font-family: Symbola, sans-serif;
}

.border-wrap {
  width: fit-content;
  height: fit-content;
}

.dashed-border {
  border-radius: 1em;
  padding: 1em;
  border: 1.25pt dashed var(--accent-aynine);
}

.soft-border {
  padding: 1em;

  border-radius: 1em 0 0 0;
  border-width: 1.25pt;
  border-color: var(--accent-aynine) var(--accent-denine) var(--accent-denine) var(--accent-aynine);
  border-style: dotted solid dashed dotted;
}

img.portrait {
  border-radius: 3em;
}

.kero {
  display: flex;
  justify-content: end;
  align-items: start;

  font-family: FreeSans, sans-serif;

  white-space: pre;
}

.kero > * {
  height: 1em;
  display: inline-block;
}

.kero > .dimple {
  transform: translateX(0.12em);
  display: flex;
  flex-direction: column;
}

.kero > .dimple:before {
  content: " \033B";
}

.kero > .dimple:after {
  content: " \033B";
  margin-top: -1.05em;
}

h1 {
  font-family: Inter Tight, sans-serif;
  margin: 0 0 0.25em 0;
  font-weight: 600;
}

h2, h3 {
  font-family: Inter Tight, sans-serif;
  text-wrap: pretty;
}

h2 {
  margin: 1.75em 0 0.25em 0;
  font-weight: 300;
}

h3 {
  font-weight: 600;
}

h2:first-child {
  margin: 0.25em 0;
}

ul.notes-inline {
  list-style: none;
  pointer-events: none;

  width: fit-content;
  position: relative;
}

ul.notes-inline.framed {
  padding: 0.75em;
  margin: 1em 0.25em 2em 0.25em;
}

ul.notes-inline.framed:before {
  content: "";
  padding: 0.75em 0.5em 1.5em 0;

  border-style: dashed;
  border-radius: 1em 0 0 0;
  border-color: var(--accent-denine);
  border-width: 1.25pt 0 0 1.25pt;

  width: 100%;
  height: 100%;
  position: absolute;
  top: -0.4em;
  left: -0.25em;
}

ul.notes-inline.framed:after {
  content: "";
  padding: 0.25em 1.4em 0.4em 0;

  border-style: dotted;
  border-color: var(--accent-winkle);
  border-width: 0 1.25pt 1.25pt 0;

  width: 100%;
  height: 100%;
  position: absolute;
  bottom: -0.4em;
  right: -0.4em;

  filter: var(--droppy-shadow);
}

ul.notes-inline > li {
  display: inline;
  filter: var(--droppy-shadow);
}

ul.notes-inline > li > * {
  display: inline-block;
  pointer-events: auto;
}

ul.notes-inline > li:not(:last-child):after {
  content: " ◈ ";
  pointer-events: none;

  font-family: Symbola, sans-serif;
  white-space: pre;
  font-kerning: none;
}

.partition {
  flex: 0 0 2em;
  align-self: stretch;
  display: flex;

  justify-content: center;
  align-items: center;
}

.partition:after {
  content: "";
  background-color: var(--accent-aynine);

  width: 1pt;
  height: 80%;
  border-radius: 1pt;
}

.about-block {
  display: flex;
  align-items: center;
}

.about-block p {
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}

.about-block p:first-child {
  font-family: Inter Tight, sans-serif;
  margin-top: 0;
  text-wrap: balance;
}

.about-block p:first-child > strong {
  display: block;
  font-size: xx-large;

  font-weight: 500;
  text-decoration: underline dotted var(--accent-aynine);
  text-underline-offset: 8.5pt;
}

.about-block p:first-child > *:not(strong){
  display: block;
  font-style: italic;
  margin-top: 5pt;
}

.project-block {
  font-size: 0.9em;
  background-color: var(--accent-noncommittal-winkle);

  border-width: 1.25pt;
  border-color: var(--accent-denine);
  border-style: dotted none;

  padding: 1em 2em;
  margin: 0.8em 0.5em 0 0.5em;

  display: flow-root;
  min-height: fit-content;
}

.project-block > a:first-child {
  text-align: center;

  padding: 1.5em 1em;
  margin: 1em 1.5em 0.25em 0;
  line-height: 1.5em;

  border-radius: 1em;
  max-width: 200px;

  height: fit-content;
  display: block;
  box-sizing: content-box;

  float: left;
}

.project-block > a[target="_blank"]:first-child > h3:after {
  content: "\1F5D7";
  position: relative;

  left: 2pt;
  bottom: 1pt;

  line-height: 1em;
  font-size: larger;

  font-weight: normal;
  font-family: Symbola, sans-serif;
}

.project-block > a[target="_blank"]:first-child:after {
  content: none;
}

.project-block > p > a.width-kept {
  max-width: calc(100% - 200px - 4em);
}

.project-block h3 {
  margin: 0 0 0.2em 0;
}

.project-block hr {
  margin: 0.1em 0 0.6em 0;
}

.project-block img {
  max-width: 100%;
  height: auto;
}

hr {
  height: 0.6pt;
  border-radius: 1pt;

  color: var(--accent-denine);
  background-color: var(--accent-denine);
  border-color: var(--accent-denine);
}

@media screen and (max-width: 750px) {
  .project-block > p > a.width-kept {
    max-width: unset;
  }

  .project-block > a:first-child {
    float: none;
    margin: 0 auto;

    max-width: 200px;
  }

  body {
    padding: 5vw;
  }

  ul.notes-inline, ul.notes-inline.framed {
    margin-left: auto;
    margin-right: auto;

    text-align: center;
  }

  ul.notes-inline > li:not(:last-child):after {
    content: "\A◈\A";
  }

  .view-only.desktop {
    display: none;
  }

  .about-block {
    align-items: center;
    flex-direction: column;
  }

  .about-block p {
    margin-left: 1.5em;
    margin-right: 1.5em;
  }

  .about-block p:first-child {
    margin: 0.5em 0 0 0;
    text-align: center;
  }
}

@media screen and (min-width: 750px) {
  .view-only.mobile {
    display: none;
  }
}
