@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --page-whalmost: #FDFCFB;
  --reg-blalmost: #212125;
  --accent-denine: #d9d9e3;
  --accent-aynine: #a9a9bf;
  --accent-winkle: #71719C;
  --accent-noncommittal-winkle: #F2F1F8;

  --tiny-shadow: 0 2px 2px -4px rgba(0.3, 0, 0.8, 0.2), 0 2px 2px 0 rgba(0.3, 0, 0.8, 0.14), 0 1px 5px 0 rgba(0.3, 0, 0.8, 0.12);
  --droppy-shadow: drop-shadow(2px 2px 1px rgba(0.3, 0, 0.8, 0.05));
}

body {
  font-family: Inter Tight, sans-serif;
  color: var(--reg-blalmost);
  background-color: var(--page-whalmost);

  padding: 5vh 15vw;
  margin: 0;

  min-height: 100vh;

  display: flex;
  flex-direction: column;

  box-sizing: border-box;
}

body > .pb-content {
  flex: 1;
}

body > .pb-foot > div {
  display: flex;

  font-family: Inter, sans-serif;
  font-size: x-small;
  font-weight: 500;
  color: var(--accent-winkle);

  flex-direction: row;
  justify-content: space-between;
}


a {
  color: inherit;
  text-decoration-line: none;
  border-radius: 0.4em;
  font-weight: 600;
  border: 1.25pt dotted var(--accent-aynine);

  background-image: linear-gradient(var(--page-whalmost) 50%, lightgoldenrodyellow);
  background-size: 100% 200%;
  background-position: 0 -1.25pt;

  transition: background-position 0.15s ease-out;

  box-sizing: border-box;
  display: inline-block;

  padding: 0 2pt;
}

a[target="_blank"]:after {
  content: "\1F5D7";
  position: relative;

  left: 1pt;
  bottom: 1pt;

  line-height: 1em;
  font-size: larger;

  font-weight: normal;
  font-family: Arial, sans-serif;
}

a:hover {
  background-position: 0 100%;
}


.winkle {
  color: var(--accent-winkle);
}

.uc-sym {
  font-family: Arial, sans-serif;
}

h1 {
  margin: 0 0 0.25em 0;
  font-weight: 600;
}

h2, h3 {
  font-family: Inter, sans-serif;
}

h2 {
  margin: 1.75em 0 0.25em 0;
  font-weight: 300;
}

h3 {
  font-weight: 600;
}

h2:first-child {
  margin: 1.25em 0 0.25em 0;
}

ul.links-inline {
  list-style: none;
  pointer-events: none;

  padding: 0.75em;
  margin: 1em 0.25em;

  width: fit-content;
  position: relative;
}

ul.links-inline:before {
  content: "";
  padding: 0.75em 0.5em 1.5em 0;

  border-style: dotted;
  border-radius: 1em 0 0 0;
  border-color: var(--accent-denine);
  border-width: 1.25pt 0 0 1.25pt;

  width: 100%;
  height: 100%;
  position: absolute;
  top: -0.4em;
  left: -0.25em;
}

ul.links-inline:after {
  content: "";
  padding: 0.25em 1.4em 0.4em 0;

  border-style: dashed;
  border-color: var(--accent-winkle);
  border-width: 0 1.25pt 1.25pt 0;

  width: 100%;
  height: 100%;
  position: absolute;
  bottom: -0.4em;
  right: -0.4em;

  filter: var(--droppy-shadow);
}

ul.links-inline > li {
  display: inline;
  filter: var(--droppy-shadow);
}

ul.links-inline > li > a {
  pointer-events: auto;
}

ul.links-inline > li:not(:last-child):after {
  content: " ◈ ";
  pointer-events: none;

  font-family: Arial, sans-serif;
}


.project-block {
  background-color: var(--accent-noncommittal-winkle);

  border-width: 1.25pt;
  border-color: var(--accent-denine);
  border-style: dotted none;

  padding: 1em 2em;
  margin: 0.8em 0.5em 0 0.5em;

  display: flow-root;

  min-height: fit-content;
}

.project-block > a:first-child {
  text-align: center;

  padding: 1.5em 1em;
  margin: 1em 1.5em 0.25em 0;

  border-radius: 1em;
  max-width: 200px;

  height: fit-content;
  display: block;
  box-sizing: content-box;

  float: left;
}

.project-block > a[target="_blank"]:first-child > h3:after {
  content: "\1F5D7";
  position: relative;

  left: 2pt;
  bottom: 1pt;

  line-height: 1em;
  font-size: larger;

  font-weight: normal;
  font-family: Arial, sans-serif;
}

.project-block > a[target="_blank"]:first-child:after {
  content: none;
}

.project-block > p > a.width-kept {
  max-width: calc(100% - 200px - 4em);
}

.project-block h3 {
  margin: 0 0 0.2em 0;
}

.project-block hr {
  margin: 0.1em 0 0.6em 0;
}

.project-block img {
  max-width: 100%;
  height: auto;

  border-radius: 0.5em;
  box-shadow: var(--tiny-shadow);
}

hr {
  height: 0.6pt;

  color: var(--accent-denine);
  background-color: var(--accent-denine);
  border-color: var(--accent-denine);
}

@media screen and (max-width: 700px) {
  .project-block > p > a.width-kept {
    max-width: unset;
  }

  .project-block > a:first-child {
    float: none;
    margin: 0 auto;

    max-width: 200px;
  }

  body {
    padding: 5vw;
  }
}
